.blue{
    background-color: #007B7F;
}
.tr{
    color:#006A6A;
}
.trs{
    color:#006A6A;
}
.mub{
    fill:white;
}
.white{
    background-color: white;
}
.blue1{
    color: #015053;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding-top: 30px;
}

.container {
    max-width: 1200px;
    color:#006A6A;
}

.contact-info, .map {
    margin-top: 30px;
    color:#006A6A;
}

.contact-info {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    color:#006A6A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .row {
    text-align: center;
    margin: 0 auto;
    padding: 20px 15px;
  }
  
  .h1-services {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
  }
  
  /* Services Container */
  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .services-box {
    text-align: center;
    flex: 0 1 calc(16.66% - 20px); /* Six items per line */
    box-sizing: border-box;
  }
  
  .services-img img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .services-box h2 {
    font-size: 1rem;
    margin: 0;
    color: #444;
  }
  
  /* Responsive Design */
  @media (max-width: 992px) {
    .services-box {
      flex: 0 1 calc(33.33% - 20px); /* Three items per line */
    }
  }
  .ff{
    background-color: #006A6A;
  }
  #imggg{
    border: 2px solid black;
    border-radius:20px;
    width: 100%;
    height: 50vh;
  }
  @media (max-width: 768px) {
    .services-box {
      flex: 0 1 calc(50% - 20px); /* Two items per line */
    }
  }
  
  @media (max-width: 480px) {
    .services-box {
        flex: 0 1 calc(50% - 20px); 
        /* One item per line */
    }
    .mub{
        fill:#006A6A;
    }
    .trs{
        color:white;
    }

  }
  
.contact-info h2 {
    color:#024343;
   
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 16px;
    color:#006A6A;
    margin-bottom: 15px;
}

.contact-info i {
    color:#006A6A;
    margin-right: 10px;
}

.map {
    height: 400px;
   
    border-radius: 8px;
}

iframe {
    border-radius: 8px;
}
